@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: var(--honeydew);
  font-family: "Roboto Mono", monospace;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --space-cadet: #171738ff;
  --federal-blue: #2e1760ff;
  --zaffre: #3423a6ff;
  --glaucous: #7180b9ff;
  --honeydew: #dff3e4ff;
  min-height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;