@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Major+Mono+Display&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --magnolia: #fcf7ffff;
    --french-gray: #c4cad0ff;
    --battleship-gray: #878c8fff;
    --rose-quartz: #a4969bff;
    --wenge: #655560ff;
}


